@model mvc_asp_core.Models.PatientServiceRelatedEntity

@{
    ViewData["Title"] = "ReadRelatedDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReadRelatedDate</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Status
            </th>
            <th>
                Service
            </th>
            <th>
                Patient
            </th>
            <th>
                Employee
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.patientServices)
        {

            string selectedRow = "";
            if (item.Id == (int?)ViewData["PatientServiceId"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Services.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.department.Name)
                </td>
                <td>
                    <a asp-action="ReadRelatedDate" asp-route-id="@item.Id">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

