@model IEnumerable<mvc_asp_core.Models.UserIdentityModel.IdentityModel>

@{
    ViewData["Title"] = "LoadAllProfile";
}

<div class="row">
    

    
    <table class="table table-hover table-hover">
        <caption><h2>All Registered User</h2></caption>
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Photo</td>
                <td>Command</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Email</td>

                    @if (item.Photo != null)
                    {
                        <td>
                            <img src="@Url.Content(item.Photo)" height="50" width="75" alt="@item.FirstName"/>
                        </td>
                    }
                    else
                    {
                        <td>Images is not Found</td>
                    }

                    <td>
                        @Html.ActionLink("Details","Details","Profile",new {id=item.Id })
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

