@*@model IEnumerable<mvc_asp_core.Models.Patient>*@
@using mvc_asp_core.Models.Pagelist;
@model PaginatedList<mvc_asp_core.Models.Patient>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">

        <h2>Patient</h2>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
            </div>
            <div class="col-md-6">
                <form asp-action="Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                            <input type="submit" value="Search" class="btn btn-default" /> |
                            <a asp-action="Index" class="btn" style="background-color:#FFD133;">Get All</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>


        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>

                    <th>
                        @*@Html.DisplayNameFor(model => model.LastName)*@

                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Last Name</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Date of Birth</a>
                    </th>

                    <th>
                        Photo
                    </th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dob)
                    </td>

                    @if (item.Photo != null)
                    {

                        var ext = item.Photo.Split(".");

                        if (ext[1] == "mp4")
                        {
                            <td>
                                <video height="100" controls autoplay controlsList="nodownload">
                                    <source src="@Url.Content(item.Photo)" type="video/mp4" />
                                </video>
                            </td>
                        }
                        else
                        {
                            <td>
                                <img src="@Url.Content(item.Photo)" height="100" width="100" class="img-responsive" />
                            </td>
                        }



                    }
                    else
                    {
                        <td>Images Not Found</td>
                    }
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-2">

    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>